<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1> KBB Car Prices for {{make|upper}} </h1>
            <a href="/kbb/">HOME</a>
        </div>

        <div class="container">
            <h3> select model: </h3>
            <form method="POST">{% csrf_token %}
                <select name="select_model" id="select_model">
                    {% if all_models %}
                        {% for model in all_models %}
                            <option value="{{model}}">{{model}}</option>
                        {% endfor %}
                    {% else %}
                        <option value="N/A">N/A</option>
                    {% endif %}
                </select>

                <input type="submit" value="Go">
            </form>
        </div>
    </body>
</html>